
/** Global **/

html{
	position: relative;
	min-height: 100%
}

body{
	margin-top: 50px;
	background-color: #ddd;
	font-family: "Helvetica Neue";

	/** MArgin Bottom by footer Height**/
	margin-bottom: 60px;
}

h1{
	margin-bottom: 40px;
	font-weight: bold;
	color: black;
}


h3{
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	background-color: #560401;
	font-family: 'Berkshire Swash'
}


button{
	margin-top: 20px;
	font-weight: bold;
	font-size: 26px;
	color: white;
}


a{
	text-decoration: none;
	color: #560401;
	font-weight: bold;

}


button > a:hover{
	text-decoration: none;
}

/*Navigation BAr*/


.navbar-inverse{
	background-color:#560401;
	color: white;
	font-size: 18px;
	font-weight: bold;

}


.nav.navbar-nav li a {
   color: white;
   font-size: 20px;
}


/*Header*/

.page-header{
	background-color: #560401;
	margin-top: 0px;


}

.page-header h1{
	color: white;
	font-size: 39px;
	font-weight: bold;
	text-align: center;
	padding-top: 30px;
	font-family: 'Berkshire Swash'


}




/*Buttons & Controls*/

.caption{
	background-color: #560401;
}





.btn-primary{
	background-color:  #560401;
	margin-bottom: 20px;

}

.btn-primary a{
	color: white;
}



/*Panel*/
.panel-default > .panel-heading {
	background-color: #560401;
	color: white;
	text-align: center;
}


/*footer*/

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed heigth of the footer here*/
	height: 90px;
	background-color: #560401;
}

footer img{
	width: 50px;

}

footer ul {
	list-style: none;
	padding-top: 10px;
	text-align: center !important;


}

footer ul li {
	float: left;
	margin-right: 25px;
	overflow: none;
	text-align: center;
}



footer p {
	
	color: white;
	text-align: center;
}


